services:
  primeleague-site:
    build: .
    container_name: primeleague-site
    restart: unless-stopped
    ports:
      - "3000:80"
    networks:
      - npm_default

networks:
  npm_default:
    external: true
